{:paths   ["src/main"]
 :deps    {org.clojure/clojure          {:mvn/version "1.10.1"}
           io.pedestal/pedestal.service {:mvn/version "0.5.7"}
           com.wsscode/pathom           {:mvn/version "2.3.0-alpha6"}
           org.apache.poi/poi           {:mvn/version "4.1.2"}
           org.apache.poi/poi-ooxml     {:mvn/version "4.1.2"}
           com.cognitect/transit-clj    {:mvn/version "1.0.324"}

           com.datomic/datomic-free     {:mvn/version "0.9.5697"}
           io.pedestal/pedestal.jetty   {:mvn/version "0.5.7"}
           br.com.souenzzo/eql-as       {:git/url "https://github.com/souenzzo/eql-as.git"
                                         :sha     "e59e457c77603384276d67ed446c2d1cbc8cab85"}
           datascript/datascript        {:mvn/version "0.18.9"}}
 :aliases {:test {:extra-paths ["src/test" "src/dev"]
                  :extra-deps  {org.clojure/test.check     {:mvn/version "0.10.0"}
                                com.stuartsierra/component {:mvn/version "0.4.0"}
                                com.fulcrologic/fulcro     {:mvn/version "3.2.9"}
                                thheller/shadow-cljs       {:mvn/version "2.9.10"}
                                binaryage/devtools         {:mvn/version "1.0.2"}
                                ubergraph/ubergraph        {:mvn/version "0.8.2"}
                                hiccup/hiccup              {:mvn/version "2.0.0-alpha2"}
                                midje/midje                {:mvn/version "1.9.9"}}}}}

